{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container allauth-container mt-4">

    <div class="form-outline d-flex justify-content-center">
        <div class="text-center font-weight-bold sign-in-bt">
            <div class="allauth-form-inner-content">
                {% block inner_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}