{% extends "account/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<body class="login-body">

  <div class="container signin-container mt-4">

    <hr>
    <h2 class="text-center font-weight-bold sign-in-bt">{% trans "SIGN IN" %}</h2>
    <hr>


    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-end">
          <!-- Simple link -->
          <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4">{% trans "Sign In" %}</button>

      <!-- Social Media Login-->

      <button class="btn btn-outline-info">
        <a href="{% provider_login_url 'google'%}?next=/">
            <i class="fab fa-google"></i>
            Login with Google
        </a>
    </button>

      <!-- Register buttons -->
      <div class="text-center register-btn">
        <p>Not a member? <a href="{{ signup_url }}">Register</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1" href="#facebook" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </button>
        

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
  </div>
  </div>
  </form>

</body>

{% endblock %}