{% extends "account/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<body class="login-body">

  <div class="container signin-container mt-4">

    <hr>
    <h1 class="text-center font-weight-bold sign-in-bt">{% trans "SIGN IN" %}</h1>
    <hr>


    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}

      <!-- Email input -->
      <div>
        <div class="field">
          <div class="form-outline d-flex justify-content-center">
            <label class="form-label" for="form2Example1">Login:</label>
          </div>
          <div class="form-outline mb-4 d-flex justify-content-center">
            <input type="text" id="form2Example1" class="form-control login-input" name="login" placeholder="Username or Email" />
          </div>


          <!-- Password input -->
          <div class="field">
            <div class="form-outline d-flex justify-content-center">
              <label class="form-label" for="form2Example2">Password:</label>
            </div>
            <div class="form-outline mb-4 d-flex justify-content-center">
              <input type="password" id="form2Example2" class="form-control login-input" name="password" placeholder="Password" />
            </div>
          </div>
        </div>

      </div>


      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Remember me </label>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <!-- Simple link -->
          <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4">{% trans "Sign In" %}</button>

      <!-- Social Media Login-->

      <button class="btn btn-outline-info">
        <a href="{% provider_login_url 'google'%}?next=/">
            <i class="fab fa-google"></i>
            Login with Google
        </a>
    </button>

      <!-- Register buttons -->
      <div class="text-center register-btn">
        <p>Not a member? <a href="{{ signup_url }}">Register</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1" href="#facebook" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </button>
        

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
  </div>
  </div>
  </form>

</body>

{% endblock %}