{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  <!-- <script src="checkout.js" defer></script> -->
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Shopping Delight</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Your custom styles (optional) -->
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/base.css" rel="stylesheet">
  <style type="text/css">
    .carousel {
      height: 80vh;
      padding-top: 11% !important;
    }

    @media (max-width: 740px) {

      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      .carousel {
        height: 100vh;
      }
    }
  </style>
</head>

<body>
  <header class="container-fluid fixed-top">
    <div class="row bg-white pt-lg-2 d-none d-lg-flex">
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-left text-md-center">
        <a href="{% url 'home' %}" class="nav-link logo-link ">
          <!-- Page Logo - Top Left Corner -->
          <h2 class="logo my-0">Shopping Delight</h2>
        </a>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <!-- Products Search Form -->
        <form method="GET" action="{% url 'products' %}">
          <div class="input-group w-100">
            <input class="form-control border rounded-0" type="text" name="q" placeholder="Search">
            <div class="input-group-append">
              <button class="form-control btn border rounded-0" type="submit">
                <span class="icon">
                  <i class="fas fa-search icon"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <!-- My Account Navigation and Shopping Bag icon with Grand Total -->
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg icon"></i></div>
                <p class="my-0 nav-text">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
              <a href="" class="dropdown-item">My Favourites</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}"
              href="{% url 'view_bag' %}">
              <div class="text-center">
                <div>
                  <i class="fas fa-shopping-bag fa-lg icon"></i>
                </div>
                <p class="my-0 nav-text">
                  <!-- Displays the total cost of items in the basket with 2 decimal points -->
                  {% if grand_total %}
                  £{{ grand_total|floatformat:2 }}
                  {% else %}
                  £0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row bg-white">
      <!-- Products Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
          aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% include 'includes/mobile-top-header.html' %}
        {% include 'includes/main-nav.html' %}
      </nav>
    </div>

    <div id="delivery-banner" class="row text-center bg-primary">
      <div class="col">
        <!-- Delivery Banner -->
        <h4 class="logo my-1 delivery-banner">
          <strong class="text-white">
            Free delivery on orders over £{{ free_delivery_threshold }}!
          </strong>
        </h4>
      </div>
    </div>

  </header>

  <!-- Navbar -->

  <!--Carousel Wrapper-->
  {% if carousel != False %}
  <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">
    {% if request.path == "/" or request.path == "/home" %}
    <link href="static/css/index.css" rel="stylesheet">
    {% endif %}


    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view"
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg'); background-repeat: no-repeat; background-size: cover;">
        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view"
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg'); background-repeat: no-repeat; background-size: cover;">
        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view"
          style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg'); background-repeat: no-repeat; background-size: cover;">
        </div>
      </div>
      <!--/Third slide-->
      <!-- Scroll down button -->
      <section id="section01" class="demo">
        <a href="#section02"><span></span></a>
      </section>
    </div>
    <!--/.Slides-->

  </div>
  {% endif %}
  <!--/.Carousel Wrapper-->

  <!--Main layout-->
  <main>

    {% block content %}
    {% endblock %}

  </main>

  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-2">
      <a href="https://www.facebook.com/profile.php?id=100087669161865" target="_blank">
        <i class="fab fa-facebook-f fa-2x mr-2" style="color: #3b5998;"></i>
      </a>

      <a href="https://twitter.com" target="_blank">
        <i class="fab fa-twitter fa-2x mr-2" style="color: #55acee;"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube fa-2x mr-2" style="color: #ed302f;"></i>
      </a>

      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
        <i class="fab fa-google fa-2x mr-2" style="color: #dd4b39;"></i>
      </a>

      <a href="https://github.com/Chrisloufa/Shopping-Delight" target="_blank">
        <i class="fab fa-github fa-2x mr-2" style="color: #333333;"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright pb-3">
      © 2022 Copyright:
      <a href="https://8000-chrisloufa-shoppingdeli-psvuk7tuwsn.ws-eu82.gitpod.io/" target="_blank">
        Shopping-Delight.com </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    // new WOW().init();
  </script>


  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block postloadjs %}
  <script type="text/javascript">
    $('.toast').toast('show');
  </script>
  <script type="text/javascript">
    $(function () {
      $('a[href*=#]').on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({
          scrollTop: $($(this).attr('href')).offset().top
        }, 500, 'linear');
      });
    });
  </script>
  {% endblock %}


</body>

</html>